body {
  background-color: #004358;
}

#body-column-center {
  background-color: #024053;
  text-align: center;
  height: 100vh;
}

#artist-search-input {
  font-size: 23px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  text-align: center;
}

#artist-search-submit {
  background-color: #FD5B00;
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.search-box {
  width: 75%;
  margin: 0 auto;
  /*font-size: 2em;*/
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  margin-top: 30%;
}

#current-artist-image {
  width: 700px;
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  margin: 0 auto;
  margin-top: 5%;
}

#current-artist-name {
padding-top: 3%;
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 23px;
  /*background-color: #F96767;*/
}

#current-artist-track-name {
  margin-top: 2%;
  color: #FFF;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

#current-artist-tracks {
  margin-top: 2%;
}

.play-button {
  margin: 1%;
  color: #FFF;
}

#powered-by {
  color: #FFF;
}

#related-artists-results-col {
  color: #FFF;
}

#audio-player-container {
  width: 700px;
  margin: 0 auto;
  /*padding-bottom: 0;
  margin-bottom: 0;*/
  height: 100vh;
}

#related-artist-1 {
  margin-top: 200px;
  /*background-color: #034D64;*/
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  height: 100px;
  line-height: 100px;
  text-align: center;
  vertical-align: center;
}
#related-artist-2 {
  margin-top: 100px;
  /*background-color: #034D64;*/
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  height: 100px;
  line-height: 100px;
  text-align: center;
  vertical-align: center;
}
#related-artist-3 {
  margin-top: 100px;
  /*background-color: #034D64;*/
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  height: 100px;
  line-height: 100px;
  text-align: center;
  vertical-align: center;
}
