#header-col-1 {
  text-align: center;
}

#artist-search-col-center {
  margin-top: 10%;
}

#artist-search-input {
  font-size: 2em;
}

.artist-results-div {
  display: none;
  margin-top: 5%;
  text-align: center;
}
