#header-col-1 {
  text-align: center;
}

#artist-search-col-center {
  margin-top: 20%;
}

#artist-search-input {
  font-size: 2em;
}

.artist-results-div {
  display: none;
  margin-top: 5%;
  text-align: center;
}

#current-artist-image {
  width: 700px;
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  margin: 0 auto;
  margin-top: 5%;
}
